.ete-header {
    background-color: lightgray;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.ete-header--links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ete-header--link {
    display: inline;
    margin: 0 0.2rem;
}