.seat {
    border: 1px solid darkgreen;
    background-color: lightseagreen;
    color: darkgreen;
    width: 2rem;
    height: 2rem;
    margin: 2px;
    cursor: pointer;
}

.seat.booked {
    background-color: lightcoral;
    border-color: red;
    color: red;
    cursor: not-allowed;
}

.seat.chosen {
    background-color: lightblue;
    border-color: darkblue;
    color: darkblue;
}

.booking {
    display: flex;
    flex-direction: row;
}

.booking--info {
    flex-grow: 1;
}

input.invalid {
    border: 1px solid red;
    background-color: lightcoral;
}